@font-face {
    font-family: Akisa;
    src: url(./Fonts/akisa.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
body{
    transition: all .2s linear;
    background: #040406;
    color: white;
    font-family: 'Dhurjati', sans-serif;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
ul{
    list-style: none;
}